.foo {
  border-top-inline-start-radius: 1px;
}

html[dir="ltr"] .foo {
  border-top-left-radius: 1px;
}

html[dir="rtl"] .foo {
  border-top-right-radius: 1px;
}

.bar {
  border-top-inline-end-radius: 1px;
}

html[dir="ltr"] .bar {
  border-top-right-radius: 1px;
}

html[dir="rtl"] .bar {
  border-top-left-radius: 1px;
}
