.foo {
  border-inline-start-color: 1px;
}

html[dir="ltr"] .foo {
  border-left-color: 1px;
}

html[dir="rtl"] .foo {
  border-right-color: 1px;
}

.bar {
  border-inline-end-color: 1px;
}

html[dir="ltr"] .bar {
  border-right-color: 1px;
}

html[dir="rtl"] .bar {
  border-left-color: 1px;
}
