.foo {
  border-inline-start-width: 1px;
}

html[dir="ltr"] .foo {
  border-left-width: 1px;
}

html[dir="rtl"] .foo {
  border-right-width: 1px;
}

.bar {
  border-inline-end-width: 1px;
}

html[dir="ltr"] .bar {
  border-right-width: 1px;
}

html[dir="rtl"] .bar {
  border-left-width: 1px;
}
