.foo {
  border-bottom-inline-start-radius: 1px;
}

html[dir="ltr"] .foo {
  border-bottom-left-radius: 1px;
}

html[dir="rtl"] .foo {
  border-bottom-right-radius: 1px;
}

.bar {
  border-bottom-inline-end-radius: 1px;
}

html[dir="ltr"] .bar {
  border-bottom-right-radius: 1px;
}

html[dir="rtl"] .bar {
  border-bottom-left-radius: 1px;
}
