.foo {
  border-inline-start-style: 1px;
}

html[dir="ltr"] .foo {
  border-left-style: 1px;
}

html[dir="rtl"] .foo {
  border-right-style: 1px;
}

.bar {
  border-inline-end-style: 1px;
}

html[dir="ltr"] .bar {
  border-right-style: 1px;
}

html[dir="rtl"] .bar {
  border-left-style: 1px;
}
