.foo {
  clear: start;
}

html[dir="ltr"] .foo {
  clear: left;
}

html[dir="rtl"] .foo {
  clear: right;
}

.bar {
  clear: end;
}

html[dir="ltr"] .bar {
  clear: right;
}

html[dir="rtl"] .bar {
  clear: left;
}
