.theme-dark .div.CodeMirror span.marked-text {
  background: rgba(255,255,0,0.2);
  border: 1px dashed rgba(192,192,0,0.6);
  margin-left: -1px;
  margin-right: -1px;
}

html[dir="rtl"] .theme-dark .div.CodeMirror span.marked-text {
  margin-right: -1px;
  margin-left: -1px;
}
