.foo {
  inset-inline-start: 1px;
}

html[dir="ltr"] .foo {
  left: 1px;
}

html[dir="rtl"] .foo {
  right: 1px;
}

.bar {
  inset-inline-end: 1px;
}

html[dir="ltr"] .bar {
  right: 1px;
}

html[dir="rtl"] .bar {
  left: 1px;
}
