.foo {
  margin-inline-start: 1px;
}

html[dir="ltr"] .foo {
  margin-left: 1px;
}

html[dir="rtl"] .foo {
  margin-right: 1px;
}

.bar {
  margin-inline-end: 1px;
}

html[dir="ltr"] .bar {
  margin-right: 1px;
}

html[dir="rtl"] .bar {
  margin-left: 1px;
}
