.file svg,
.domain svg,
.folder svg,
.refresh svg,
.worker svg {
  top: 7px;
  margin-inline-end: 5px;
}

html[dir="ltr"] .file svg,
html[dir="ltr"] .domain svg,
html[dir="ltr"] .folder svg,
html[dir="ltr"] .refresh svg,
html[dir="ltr"] .worker svg {
  margin-right: 5px;
}

html[dir="rtl"] .file svg,
html[dir="rtl"] .domain svg,
html[dir="rtl"] .folder svg,
html[dir="rtl"] .refresh svg,
html[dir="rtl"] .worker svg {
  margin-left: 5px;
}
