.foo {
  padding-inline-start: 1px;
}

html[dir="ltr"] .foo {
  padding-left: 1px;
}

html[dir="rtl"] .foo {
  padding-right: 1px;
}

.bar {
  padding-inline-end: 1px;
}

html[dir="ltr"] .bar {
  padding-right: 1px;
}

html[dir="rtl"] .bar {
  padding-left: 1px;
}
