.foo {
  text-align: start;
}

html[dir="ltr"] .foo {
  text-align: left;
}

html[dir="rtl"] .foo {
  text-align: right;
}

.bar {
  text-align: end;
}

html[dir="ltr"] .bar {
  text-align: right;
}

html[dir="rtl"] .bar {
  text-align: left;
}
